{% extends 'layout/default.html.twig' %}

{% block title %}Home Page title{% endblock %}

{% block meta %}
    <meta name="description" content="Home Page description" />
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Hello!</h1>
        <p>
            Congratulations! You have successfully created your application.
        </p>
    </div>
{% endblock %}