{% extends 'layout/default.html.twig' %}

{% block title %}403 - Forbidden{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Error</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>403 - Forbidden</h1>
{% endblock %}