{% extends 'layout/default.html.twig' %}

{% block title %}404 - Not found{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Error</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>404 - Not Found</h1>
{% endblock %}