{% extends 'layout/default.html.twig' %}

{% block title %}500 - Server error{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Error</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>500 - Server error</h1>
{% endblock %}