$body-bg: #fff;

$font-family-sans-serif: "Arial", sans-serif;
$font-size-base: .9rem;

$navbar-dark-color: rgba(#fff, .8);
$navbar-dark-hover-color: rgba(#fff, .95);
$navbar-padding-y: .4rem;

$breadcrumb-padding-y: .5rem;
$breadcrumb-padding-x: .9rem;

$card-spacer-y: .6rem;
$card-spacer-x: .9rem;

$primary: #337ab7;
$success: #4db24d;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;