<?php

return [
    'auth' => [
        'users' => [
            'admin' => 'password',
        ],
    ],

    'pdo' => [
        // 'dsn' => 'mysql:host=localhost;port=3306;dbname=app;charset=utf8mb4',
        'dsn' => 'sqlite:db/db.sqlite',
        'username' => '',
        'password' => '',
    ],

    'phinx' => [
        'database' => 'db/db.sqlite',
    ],
];
